body
{
    margin: 0;
    padding: 0;
    margin-top: -10px !important;
    color: #555;
    font: normal 10pt Arial,Helvetica,sans-serif;
    background: #EFEFEF;
    overflow-x: hidden;
}

#header
{
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
    padding: 20px 20px 20px 0;
}

#footer
{
    margin: 10px auto !important;
    font-size:12px;

}

#footer > div {
    margin: 0px auto;
    color: #666;
    padding: 5px;
    height: 50px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background: transparent linear-gradient(#F6F6F6 0px, #FFF 50px) repeat scroll 0% 0%;
}

#logo
{
    /*padding: 10px 20px;*/
    font-size: 2em;
}

div.form .rememberMe label
{
    display: inline;
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet-decoration
{
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

.portlet-title
{
    font-size: 12px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #298dcd;
}

.portlet-content
{
    font-size:0.9em;
    margin: 0 0 15px 0;
    padding: 5px 8px;
    background:#EFFDFF;
}

.portlet-content ul
{
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0 4px 0px;
}

.HiddenOnLoad{
    display: none;
}

table {
    margin: 0;
}

li.next > a, li.prev > a{
    margin:3px 2px auto;
}

li.page > a, li.next > a, li.prev > a{
    text-align:center;
    min-width:30px;
    line-height: 1.1em;
}

td {
    text-align: center;
}

#delPlaylist:hover{
    background-color:#c8c8c8;
    opacity:0.8;
}

.CSSTableGenerator {
    margin:0px;padding:0px;
    width:100%;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #000000;

    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;

    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;

    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;

    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}.CSSTableGenerator table{
     border-collapse: collapse;
     border-spacing: 0;
     width:100%;
     height:100%;
     margin:0px;padding:0px;
 }.CSSTableGenerator tr:last-child td:last-child {
      -moz-border-radius-bottomright:0px;
      -webkit-border-bottom-right-radius:0px;
      border-bottom-right-radius:0px;
  }
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
     -moz-border-radius-bottomleft:0px;
     -webkit-border-bottom-left-radius:0px;
     border-bottom-left-radius:0px;
 }.CSSTableGenerator tr:hover td{

  }
.CSSTableGenerator tr:nth-child(odd){ background-color:#e5f1f4; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }
.CSSTableGenerator td{
    vertical-align:middle;
    border:1px solid #000000;
    border-width:0px 1px 1px 1px;
    text-align:left;
    padding:0px;
    font-size:10px;
    font-family:Verdana;
    font-weight:normal;
    color:#000000;
}
.CSSTableGenerator tr:last-child td{
    border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child{
  /*border-width:0px 0px 1px 0px;*/
}
.CSSTableGenerator tr:last-child td:last-child{
    border-width:0px 0px 0px 0px;
 }
.CSSTableGenerator /*tr:first-child*/ th{
    background:-o-linear-gradient(bottom, #7cb5d5 5%, #4d9ac6 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7cb5d5), color-stop(1, #4d9ac6) );
    background:-moz-linear-gradient( center top, #7cb5d5 5%, #4d9ac6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7cb5d5", endColorstr="#4d9ac6");
    background: -o-linear-gradient(top,#7cb5d5,4d9ac6);

    background-color:#7cb5d5;
    border:0px solid #000000;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-size:14px;
    font-family:Verdana;
    font-weight:bold;
    color:#ffffff;
}
.CSSTableGenerator /*tr:first-child:hover*/ th{
    background:-o-linear-gradient(bottom, #7cb5d5 5%, #4d9ac6 100%);
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7cb5d5), color-stop(1, #4d9ac6) );
    background:-moz-linear-gradient( center top, #7cb5d5 5%, #4d9ac6 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7cb5d5", endColorstr="#4d9ac6");
    background: -o-linear-gradient(top,#7cb5d5,4d9ac6);

    background-color:#7cb5d5;
}
.CSSTableGenerator /*tr:first-child*/ th:first-child{
    border-width:0px 0px 1px 0px;
}
.CSSTableGenerator/*tr:first-child*/ th:last-child{
    border-width:0px 0px 1px 1px;
}

.button-column  {
    min-width: 80px;
}

.Jumbotron {
    margin: 0px auto 10px auto !important;
}

.MainMenu {
    margin-left: -7px;
    margin-right: -7px;
}

.LogoStrip{
    margin-top:10px;
    line-height: 45px;
    text-align: center;

    border: 1px solid #ddd;
    background: #fff;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
}

.LogoBlock {
    background-image:url('../images/Logo_RTV_small.png');
    background-repeat:no-repeat;
    height:48px;
}

@media only all and (max-width: 767px){
    .LogoBlock {
        display: none;
    }
}

.LogoAppName {
    font-size: 18px;
}

.MainContent {
    margin-left: -15px;
    position: relative;
    display: block;
    padding: 10px 35px !important;
    margin-bottom: -1px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
}

.MainMenu > ul > li {
    background-color: rgba(13, 174, 228, 0.15);
}

.MainMenu > ul > li > a {
    color: #1B82A5;
    font-size: 1.2em;
    font-weight: bold;
}

.MainMenu > ul > li > a:hover {
    text-decoration:none;
}

.MainMenu > ul > li:active{
    color:#fff;
}

.OperationsMenu{
    margin: 5px auto 0px !important;
}

.OperationsMenu > li {
    font-weight: bold;
    background-color: rgba(13, 174, 228, 0.15);
}

.OperationsMenu > li > a {
    color: #177493;
}

.OperationsMenu > li > a:hover {
    text-decoration:none;
}

.ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-icon-only .ui-dialog-titlebar-close :hover {
    background-color:#000;
}

/* volume range on point create*/
section {
    width: 150px;
    height: 20px;
    margin: 15px 0px 10px -20px;
    position: relative;
}
#slider{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 300px;
    position: absolute;
    height: 13px;
    background-color: #8e8d8d;
    background: url('volumeSkin/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
                      0 1px 0 0px rgba(250, 250, 250, .5);
    left: 20px;
}
.tooltip {
    z-index:3;
    position: absolute;
    display: block;
    top: -25px;
    width: 35px;
    height: 20px;
    color: #fff;
    text-align: center;
    font: 10pt Tahoma, Arial, sans-serif ;
    border-radius: 3px;
    border: 1px solid #333;
    -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8045484d', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
}
.volume {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    right: -205px;
    background: url('volumeSkin/volume.png') no-repeat 0 -50px !important;
    position: absolute;
    margin-top: -5px;]
}

.ui-slider-handle {
    position: absolute;
    z-index: 1;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border:none !important;
    background: url('volumeSkin/handle.png') no-repeat 50% 50% !important;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -7px;
    margin-left: -12px;
}
.ui-slider-range {
    background: #ffffff !important; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%) !important; /* IE10+ */
    background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ) !important; /* IE6-9 */
    position: absolute;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}

.ui-slider .ui-slider-handle {
    z-index: 1 !important;
}

/*=================================================*/

/*add period butt*/

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }

.RemoveTVonOff {
    padding-top: 0px;
    padding-bottom: 2px;
}

.Calendar {
    /*max-width: 1000px;*/
    margin: 0px auto;
}

select.Camps{
    width: 150px;
    margin: 10px auto;
}

#external-events, #external-repeating {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    margin-top: 15px;
}

#external-events h4, #external-repeating h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
    word-wrap: break-word;
    overflow: hidden;
}

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar1, #calendar2 {
    float: right;
}

#callendarScriptWarning1, #callendarScriptWarning2{
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
}

#callendarLoading1, #callendarLoading2{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*overwrite some defaults of full callendar
not to hide start/stop block labels when block is to short
*/
.fc-time-grid-event.fc-short .fc-time:before{
    content: initial !important;
}
.fc-time-grid-event.fc-short .fc-time span {
    display: block !important;
}

#calendar2 .fc-agendaWeek-view tbody tr {
    height: 90px !important;
}

div.ui-tooltip {
    max-width: 800px;
}

.RemovePeriond{
    width:15px;
}
