@font-face {
    font-family: RalewayRegular;
    src: url('/fonts/Raleway-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    color: #000 !important;
    font: normal 10pt RalewayRegular,Helvetica,sans-serif !important;
    overflow-x: hidden;
}

.logo-strip {
    padding: 1px;
    line-height: 45px;
    text-align: center;

    border: 1px solid #ddd;
    background: #fff;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
}

.container {
    width: 100%;
    padding: 1px;
}

.content-wraper {
    position: relative;
    background-color: #FFF;
    padding: 0 0 10px 0;
}

@media only all and (min-width: 768px){
    .content-wraper {
        padding: 0 0 0 5px;
    }
}

.content {
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 0 15px 15px 15px;
}

.logo-app-name {
    font-size: 18px;
}

.footer {
    margin: 5px auto !important;
    font-size: 12px;
}

.footer > div {
    margin: 0px auto;
    color: #666;
    padding: 5px;
    height: 50px;
    border: 1px solid #DDD;
    border-radius: 5px;
    background: transparent linear-gradient(#F6F6F6 0px, #FFF 50px) repeat scroll 0% 0%;
}

.jumbotron {
    margin: 0px auto 10px auto !important;
    padding: 0 !important;
}

.logo-block {
    display: none;
    background-image:url('/images/Logo_RTV_small.png');
    background-repeat:no-repeat;
    background-position: center;
    max-width: 75px;
    height: 48px;
    margin-left: 0;
}

@media only all and (min-width: 768px){
    .logo-block {
        display: block;
    }
}

div.view
{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.search-form
{
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

table {
    margin: 0;
}

li.next > a, li.prev > a{
    margin:3px 2px auto;
}

li.page > a, li.next > a, li.prev > a{
    text-align:center;
    min-width:30px;
    line-height: 1.1em;
}

td {
    text-align: center;
}

.button-column  {
    min-width: 80px;
}

.lodash-template {
    display: none;
}
