AddDefaultCharset utf-8

DirectoryIndex index.php
Allow from all

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>

#SetEnv APPLICATION_ENV "dev"

php_value upload_max_filesize 2048M
php_value post_max_size 2048M
php_value short_open_tag 1
