.heap__folder-list-item {
    padding:5px;
    width: 100%;
    border-bottom:solid 1px darkgrey;
    background-color:#fce667;
}

.heap__folder-list-item:hover  {
    background-color:#b7e4ff;
}

.heap__folder-list-item__num,
.heap__folder-list-item__text {
    display: inline;
}
