input.showcase-widget {
    display: none;
}

.windows-list {
    display: none;
}

.windows-list.is-active {
    display: block;
}

.detach-widget {
    max-width: 280px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.widget-name {
    text-decoration: underline;
}

.detach-widget .widget-attach-btn-text {
    display: none;
}

.attach-widget .widget-detach-btn-text {
    display: none;
}
