.row-file-upload {
    position: relative;
    padding: 5px 0px;
    min-height: 90px;
}

.col-ajax-upload-widget {
    padding: 34px 5px 0px 0px;
}

.col-hashtags-input-widget {
    position: absolute;
    top: 0px;
    left: 130px;
    padding: 15px;
    width: calc(100% - 130px);
}

.row-file-upload {
    border-radius: 3px;
    line-height: 19px;
}

.heap-tree-container {
    display: flex;
}

.tree {
    flex: 1;
    overflow:auto;
    min-height:470px;
}

.sub-tree {
    width:100%;
    overflow:auto;
    border:1px solid silver;
    height:234px;
}

.heap {
    overflow:auto;
    border:none;
    flex: 2;
    border:1px solid silver;
    min-height:470px;
    margin-left:5px;
}

#dropzoneHeap {
    padding: 0 1px;
    background: rgb(255, 255, 255);
}
#dropzoneHeap.in {
    background: rgb(152, 232, 251);
}
#dropzoneHeap.hover {
    background: rgb(152, 187, 251);
}
#dropzoneHeap.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
