.ScreenShotBox {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 330px;
    height: 290px;
    padding: 5px;
    border: 1px solid #eee;
    z-index: 3;
}

.ScreenShotBoxBgLoading {
    background-image: url(/images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.ScreenShotBoxBgUnavaliable {
    background-image: url(/images/whiteNoice.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #111;
}

.ScreenShotImg {
    width: 320px;
    height: 280px;
    border: none;
}

.playlists-list .row-header, .points-list .row-header {
    padding: 2px;
}

.playlists-list .row-list-view, .points-list .row-list-view {
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-top-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 2px;
}

.playlists-list .row-list-view:nth-child(even), .points-list .row-list-view:nth-child(even){
    background-color: #eee;
}

.playlists-list .col, .points-list .col {
    overflow: hidden;
}
