.btn-group{
  margin-bottom:2px;
}

.PointPlaylistsInView {
  padding:10px;
}

input {
  max-width:415px;
}

select {
  max-width:615px;
}

.buttons input {
  max-width:215px;
}

.form {
    margin: 10px auto;
}

.form .form-control {
    max-width:415px;
}

.buttons input.form-control {
    max-width:245px;
}

.points-list .row-header {
    padding: 2px;
}

.points-list .row-list-view {
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-top-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 2px;
}

.points-list .row-list-view:nth-child(even) {
    background-color: #eee;
}

.points-list .col {
    overflow: hidden;
}

.row-menu {
  margin: 0;
}

.items .empty {
  margin: 15px -25px;
  display: block;
}

.delete-point input {
  display: none;
}

#add-content-file-btn {
  z-index:1;
  position:absolute;
  opacity: 0;
}

#add-content-btn {
  z-index:2;
}

.ScreenShotBox {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    width: 330px;
    height: 290px;
    padding: 5px;
    border: 1px solid #eee;
    z-index: 3;
}

.ScreenShotBoxBgLoading {
    background-image: url(/images/loading.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}

.ScreenShotBoxBgUnavaliable {
    background-image: url(/images/whiteNoice.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #111;
}

.ScreenShotImg {
    width: 320px;
    height: 280px;
    border: none;
}
